<?js
    var data = obj;
?>
    <section>
        <article>
            <pre class="source language-js"><code class="match-braces rainbow-braces"><?js= data.code ?></code></pre>
        </article>
    </section>